In [2]:
# Initial imports
import os
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv

# Load .env environment variables
load_dotenv()

True

In [3]:
import alpaca_trade_api as tradeapi

API_KEY = os.getenv("ALPACA_API_KEY")
API_SECRET = os.getenv("ALPACA_SECRET_KEY")
ALPACA_API_BASE_URL = "https://paper-api.alpaca.markets"

api = tradeapi.REST(API_KEY, API_SECRET, ALPACA_API_BASE_URL, api_version="v2")

In [4]:
# Set the ticker
ticker = "SPY"

# Set timeframe to '1D'
timeframe = "15Min"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2017-05-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("now").isoformat()

# Set limit_rows to 1000 to retreive the maximum amount of rows
limit_rows = 1000
    
# Get 3 years worth of historical data for TSLA
ticker_data = api.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
    limit=limit_rows
).df

ticker_data

                              SPY
                             open    high     low   close  volume
time
2021-11-17 16:30:00-05:00  467.96  467.96  467.96  467.96     101
2021-11-17 16:45:00-05:00  467.98  467.98  467.98  467.98     500
2021-11-18 08:30:00-05:00  469.34  469.34  469.34  469.34    1000
2021-11-18 09:15:00-05:00  469.39  469.39  469.39  469.39     129
2021-11-18 09:30:00-05:00  469.29  469.29  468.53  468.67   57261
...                           ...     ...     ...     ...     ...
2022-01-04 15:45:00-05:00  478.34  478.94  477.47  477.47  193606
2022-01-04 16:00:00-05:00  477.41  477.48  477.29  477.43    7534
2022-01-04 16:15:00-05:00  477.33  477.53  477.33  477.42    1900
2022-01-04 16:30:00-05:00  477.48  477.48  477.48  477.48     500
2022-01-04 16:45:00-05:00  477.38  477.38  477.38  477.38     500

[1000 rows x 5 columns]